.list-assignment{
    border: 1px solid;
    height: auto;
}
.list-member{
    border: 1px solid;
    overflow-y: auto;
    height: 300px;
}
div.list-member{
    overflow-y: auto;
}
div.list-shift{
    overflow-y: auto;
}
label{
    margin-left: 20px;
    }
#datepicker{
    width:180px; 
    margin: 0 20px 20px 20px;
}
#datepicker > span:hover{
    cursor: pointer;
}
#datepicker2{
    width:180px; 
    margin: 0 20px 20px 20px;
}
#datepicker2 > span:hover{
    cursor: pointer;
}
#nav-home #add_group{
    margin-top: 15px;
}
.list-member{
    margin-top: 15px;
}
.list-time{
    margin-top: 15px;
}
.btn-add{
    display: inline-block;
    border-radius: 70%;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid;
}
.create-assign{
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
#datepicker3{
    max-width: 300px;
}
#modalUpdate h5{
    color: black;
}
#modalUpdate label{
    color: black;
    width: 30%;
}
#modalUpdate .modal-body{
    display: inline-block;
    justify-content: center;
}
#modalUpdate label{
    color: black;
}
#modalUpdate option{
    /* color: #fff; */
    background-color: #fff;
}
